@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* body elements */

* {
  padding: 0;
  margin: 0;
  text-align: center;
}

py-config{
  visibility: hidden;
  opacity: 0.0;
}
